<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="project">
  <a href="/posts/{{post.id}}"><div>
    <div id="post-title">
      <h2>{{this.title}}</h2>
      <p id="post-date">Posted by {{post.user.name}} on {{format_date this.date_created}}</p>
    </div>
    <p id="post-body">{{this.body}}</p>
  </div></a>
</div>
{{/each}}
